@font-face {
    font-family: "icon";
    src: url("icon.woff") format("woff");
}

.hidden {
    display: none;
}

html {
    font-family: sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #404040;
    color: white;
    background-image: url(tex.png);
    touch-action: none;
}

html,
body,
body > div {
    width: 100%;
    height: 100%;
    margin: 0;
}

body > div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

p {
    margin: 0;
    font-size: 2rem;
    word-wrap: break-word;
    text-align: center;
}

button {
    padding: 0;
    background-color: transparent;
    border: 1px solid black;
    height: 1.5em;
    width: 2em;
    border-radius: 2px;
    font-size: 2rem;
    color: white;
    font-family: "icon";
    overflow: hidden;
}

button:focus {
    outline: none;
}

#opening,
#closed {
    padding: 0 0.5rem;
}

#opening noscript p,
#closed p {
    margin-bottom: 1em;
}

#reloadbutton {
    font-size: 4rem;
    margin: 0 auto;
    max-width: 100%;
}

#padlabel {
    color: gray;
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
    opacity: 0.08;
    font-weight: bold;
    font-size: 4rem;
}

@media (max-width: 32rem) {
    #padlabel {
        font-size: 13vw;
    }
}

#pad > button {
    position: absolute;
    max-width: 50%;
    max-height: 50%;
}

#fullscreenbutton {
    left: 0;
    bottom: 0;
    border-bottom: none;
    border-left: none;
}

#keyboardbutton {
    right: 0;
    bottom: 0;
    border-right: none;
    border-bottom: none;
}

#keysbutton {
    left: 0;
    top: 0;
    border-top: none;
    border-left: none;
}

textarea {
    flex-grow: 1;
    border: none;
    resize: none;
    font-size: 2rem;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0 0.5rem;
}

#sendbutton {
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: auto;
    height: 1.5em;
}

@media (min-aspect-ratio: 4/3) {
    #keyboard {
        flex-direction: row;
    }

    #sendbutton {
        border-top: none;
        border-left: 1px solid black;
        width: 2em;
        height: auto;
    }
}

#keys {
    padding: 0.5rem;
    padding-bottom: 0;
    justify-content: flex-end;
}

#keys .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    flex-shrink: 1;
    height: 6rem;
    min-height: 0;
}

#keys .buttons > button:not(:last-of-type) {
    border-right: none;
}

#keys .buttons > button {
    flex-shrink: 1;
    height: 100%;
    width: 8rem;
    min-width: 0;
}
