[Desktop Entry]
Version=1.0
Type=Application
Name=Remote Touchpad
Comment=Control mouse and keyboard from a smartphone
Terminal=true
Exec=remote-touchpad
Icon=remote-touchpad
Categories=Network;RemoteAccess;ConsoleOnly;
